@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@700&family=Mukta:wght@200&family=Zen+Tokyo+Zoo&display=swap');
/*
font-family: 'Atkinson Hyperlegible', sans-serif;
font-family: 'Mukta', sans-serif;
font-family: 'Zen Tokyo Zoo', cursive;
*/

h1 {
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: 2cm;
    font-weight: normal;
}
h2 {
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: 1.5cm;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
}

:root {
    background: #222;
    font-family: 'Mukta', sans-serif;
    --pro-blue: #6eafee;
    --pro-purple: #8172a7;
    font-size: 0.7cm;
    color: white;
}

#header div {
    transition: all 0.3s ease;
    flex-grow: 1;
    
}

#header div span {
    cursor: default;
    transition: all 0.3s ease;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #fff0;
    //text-shadow: 0px 0.7mm #333;
    font-size: 0.8cm;
    text-transform: uppercase;
    background-image: linear-gradient(45deg, #fff 0%, #fff 40%, rgba(110,175,238,1) 60%, rgba(32,222,238,1) 100%);
    -webkit-background-clip: text;
    background-size: 260% auto;
    border-bottom: solid 1mm white;
}

#header div span:hover {
    cursor: pointer;
    //color: var(--pro-blue);
    background-position: right center;
    flex-grow: 1;
    border-bottom: solid 2mm rgba(71,198,238,1);
}

#header div.thispage span {
    background-position: right center;
    flex-grow: 1;
    border-bottom: solid 2mm rgba(71,198,238,1);
    border-top: solid 2mm rgba(71,198,238,1);
}

#header div.thispage {
    flex-grow: 3;
}

#header {
    text-align: center;
    background: #000b;
    min-height: 2cm;
    margin: 0mm;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#content {
    margin-top: 2cm;
    height: 100cm
}

button.glow, a.glow {
    cursor: default;
    color: white;
    border: none;
    border-radius: 5mm;
    //border-top-left-radius: 1mm;
    //border-bottom-right-radius: 1mm;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    background-color: rgb(101,59,208);
    background-image: linear-gradient(45deg, rgba(101,59,208,1) 0%, rgba(152,135,195,1) 40%, rgba(110,175,238,1) 60%, rgba(32,222,238,1) 100%);
    padding: 5mm;
    background-size: 260% auto;
    transition: all 0.7s ease;
    //box-shadow: -1mm 0mm 2.5mm rgba(101,59,208,1), 1mm 0mm 2.5mm rgba(152,135,195,1);
    margin: 5mm;
    font-size: 0.7cm;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 1cm;
    text-decoration: none;
}

button.glow:hover, a.glow:hover {
    cursor: pointer;
    //border-radius: 2.5mm;
    border-top-right-radius: 1mm;
    border-bottom-left-radius: 1mm;
    background-position: right center;
    background-color: rgba(32,222,238,1);
    box-shadow: -2mm 2mm 5mm rgba(110,175,238,1), 2mm -2mm 5mm rgba(32,222,238,1), 0mm 0mm 5mm rgba(71,198,238,1);
}

.games {
    display: grid;
    gap: 2cm;
    grid-template-columns: auto auto;
    overflow: hidden;
    margin: 2cm;
}
.game {
    border-radius: 5mm;
    border: solid white 1mm;
    padding-top: 100%;
    overflow: hidden;
    background-size: auto 100%;
    background-position: center center;
    position: relative;
}

.game div{
    transition: all ease 0.3s;
    border-radius: 5mm;
    padding: 1cm;
    background-color: #000a;
    position: absolute;
    bottom: -100%;
    min-height: 40%;
}

.game:hover div {
    bottom: 0;
}
